<mat-list-item class="episode" (click)="checkEpisode()">
    <div class="date">{{episode.date | date}}</div>
    <div class="title">{{episode.title}}</div>
    <div class="reference">S{{episode.season}}E{{episode.number}}</div>
    <!-- <div class="actions"><button mat-raised-button>Test</button></div> -->
</mat-list-item>