<!--
  ~ Copyright (c) 2016 Haulmont
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html ng-app="app">
<head>
    <title>
        BigTester Tebloud Testing Bot Cloud
    </title>
    <script src="messaging.js"></script>
    <script src="panel.js"></script>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="icon" type="image/x-icon" href="icons/favicon.ico">
    <script src="jslib/angular.min.1.4.5.js" type="text/javascript"></script>
    <script src="jslib/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="jslib/angular-route.min.js"></script>
    <script src="jslib/angular-cookies.min.js"></script>
    <script src="app.js"></script>
    <script src="main.js"></script>

    <link rel="stylesheet" href="css/angucomplete-alt.css">

    <script src="jslib/angular-sanitize.min.js"></script>
    <script src="jslib/html2canvas.min.js"></script>
    <script src="jslib/angucomplete-alt.min.2.1.0.js"></script>
    <script src="jslib/angular-recursion.min.js"></script>
    <script src="jslib/angular-touch.min.js"></script>
    <script src="jslib/ngStorage.min.js"></script>
    <script src="jslib/lz-string.js"></script>
    <script type="text/javascript" src="jslib/spin.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-spinner/dist/angular-spinner.js"></script>
    <script type="text/javascript" src="node_modules/jsog/lib/JSOG.js"></script>

    <script src="jslib/ui-bootstrap-tpls-2.3.1.min.js"></script>
    <!-- <script src="jslib/app.js"></script> -->
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <style>
        .angucomplete-dropdown {
            overflow-y: auto;
            max-height: 150px;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="jslib/bootstrap.min.js"></script>


    <script src="controller-angular.js"></script>


</head>
<body>
<div class="menu-panel" ng-controller="MenuController">
    <div class="main-container padding-panel">
        <a style="cursor:pointer" ng-click='homeAction()'>
            <div class="logo">
                BigTester Tebloud
            </div>
        </a>
        <div class="user-box" ng-click='authAction()' ng-cloak>
            {{loginButton}}
        </div>
        <!--<a href="#/orders">
            <div class="user-box" ng-if="authenticated">
                Cart
            </div>
        </a>-->
    </div>
</div>
<div ng-view></div>

</body>
</html>