

<div class="main-container">
<!--
	<button id="executescript">Execute script in inspected page</button>
	<button id="insertscript">Insert script into inspected page</button>
	<button id="insertmessagebutton">Insert button to send a message from page to devtools</button>
-->





	<div id="abctest" ng-controller="PanelController" class="ng-scope">
		<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
		<script type="text/ng-template" id="myModalScreenTrainingWords.html">
			<div class="modal-header">
				<h3 class="modal-title" id="modal-title">screenNameTrainingWords</h3>
			</div>
			<div class="modal-body" id="modal-body">
				{{$ctrl.screenTrainingWords}}
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
			</div>
		</script>
		<script type="text/ng-template" id="/my-custom-template-value.html">
			<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
				<input ng-model="searchStr"
					   ng-disabled="disableInput"
					   type="text"
					   placeholder="{{placeholder}}"
					   ng-focus="onFocusHandler()"
					   class="{{inputClass}}"
					   ng-focus="resetHideResults()"
					   ng-blur="hideResults($event)"
					   autocapitalize="off"
					   autocorrect="off"
					   autocomplete="off"
					   ng-change="inputChangeHandler(searchStr)"/>
				<div class="angucomplete-dropdown" ng-show="showDropdown">
					<div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
					<div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
					<div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
						<div ng-if="imageField" class="angucomplete-image-holder">
							<img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
							<div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
						</div>
						<div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
						<div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
						<div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
						<div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
					</div>
					<div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
						<div class="angucomplete-title">Create New User Value '{{ searchStr }}'</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="/my-custom-template.html">
			<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
				<input ng-model="searchStr"
					   ng-disabled="disableInput"
					   type="text"
					   placeholder="{{placeholder}}"
					   ng-focus="onFocusHandler()"
					   class="{{inputClass}}"
					   ng-focus="resetHideResults()"
					   ng-blur="hideResults($event)"
					   autocapitalize="off"
					   autocorrect="off"
					   autocomplete="off"
					   ng-change="inputChangeHandler(searchStr)"/>
				<div class="angucomplete-dropdown" ng-show="showDropdown">
					<div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
					<div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
					<div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
						<div ng-if="imageField" class="angucomplete-image-holder">
							<img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
							<div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
						</div>
						<div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
						<div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
						<div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
						<div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
					</div>
					<div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
						<div class="angucomplete-title">Create New Name '{{ searchStr }}'</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="/my-custom-template_field.html">
			<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
				<input ng-model="searchStr"
					   ng-disabled="disableInput"
					   type="text"
					   placeholder="{{placeholder}}"
					   ng-focus="onFocusHandler()"
					   class="{{inputClass}}"
					   ng-focus="resetHideResults()"
					   ng-blur="hideResults($event)"
					   autocapitalize="off"
					   autocorrect="off"
					   size="45"
					   style="width:240px"
					   autocomplete="off"
					   ng-change="inputChangeHandler(searchStr)"/>
				<div class="angucomplete-dropdown" ng-show="showDropdown">
					<div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
					<div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
					<div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
						<div ng-if="imageField" class="angucomplete-image-holder">
							<img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
							<div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
						</div>
						<div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
						<div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
						<div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
						<div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
					</div>
					<div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
						<div class="angucomplete-title">Create New Field Name '{{ searchStr }}'</div>
					</div>
				</div>
			</div>
		</script>
		<div class="container-fluid">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading" style="white-space: nowrap;">
						<div class="row">

							<div class="ng-isolate-scope col-sm-3" align="center" ><span style="display:inline"><h2 style="margin-top:10px" id="removeTitle">Tebloud TC Generator </h2></span>

							</div>
							<div class="ng-isolate-scope col-sm-2" align="center" style="margin-top:30px">
								<span style="display:inline" id="runningMode">App Running Mode: {{mvcUIOperationStatus.runningModeProperties.runningMode}}</span>
							</div>
							<div class="ng-isolate-scope col-sm-1" style="margin-top:30px" ng-if="mvcCurrentIResult.domainProtocol">
								Protocol<input ng-model="mvcCurrentIResult.domainProtocol" type="text" size="10" disabled/>
							</div>
							<div class="ng-isolate-scope col-sm-2" style="margin-top:30px" ng-if="mvcCurrentIResult.domainName">
								Domain Name<input ng-model="mvcCurrentIResult.domainName" type="text" size="30" disabled/>
							</div>
							<div class="ng-isolate-scope col-sm-1" style="margin-top:30px" ng-if="mvcCurrentIResult.domainPort">
								Domain Port<input ng-model="mvcCurrentIResult.domainPort" type="text" size="7" disabled/>
							</div>
							<div class="ng-isolate-scope col-sm-1" style="margin-top:30px" ng-if="mvcCurrentIResult.screenNode.url">
								Screen URL<input ng-model="mvcCurrentIResult.screenNode.url" type="text" size="30"  disabled/>
							</div>

							</div></div></div></div>
			</div>
		<div class="container-fluid">


				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading" style="white-space: nowrap;">
							<div class="row">
							<!-- use this to populate the industry category recursion http://stackoverflow.com/questions/14430655/recursion-in-angular-directives-->
							<!--Industry<input ng-model="mvcCurrentIResult.industryCategoriesMap[0].name" disabled type="text" size="15"/>
							<span ng-repeat="industryCat in mvcCurrentIResult.industryCategoriesMap" ng-if="$index >= 1">
								=><input ng-model="industryCat.name" disabled type="text" size="20"/>
							</span>-->
							<!--Industry Code<input ng-model="industryCode" type="text" maxlength="20"/>
                            IndustryName<input ng-model="testIndustryName" type="text" maxlength="20"/>
                            Industry Sub-Category<input ng-model="testIndustrySubCategory" type="text" maxlength="20"/>
							Test Suite<input ng-model="mvcCurrentIResult.testSuitesMap[0].name" disabled type="text" size="20"/>
							<span ng-repeat="testSuite in mvcCurrentIResult.testSuitesMap" ng-if="$index >= 1">
								=><input ng-model="testSuite.name" disabled type="text" size="20"/>
							</span>-->
							<div angucomplete-alt="" id="testSuiteField" placeholder="Test Suite Name" pause="100"
								 selected-object="tmpTestSuiteFunc" local-data="mvcTempData.allTestSuiteNames" search-fields="name"
								 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
								 match-class="highlight" initial-value="mvcCurrentIResult.testSuitesMap[0].name" template-url="/my-custom-template.html"
								 class="ng-isolate-scope col-xs-1 ">

							</div>
							<div angucomplete-alt="" id="subTestSuiteField" placeholder="Sub Test Suite Name" pause="100"
								 selected-object="tmpSubTestSuiteFunc" local-data="mvcTempData.allTestSuiteNames" search-fields="name"
								 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
								 match-class="highlight" initial-value="mvcCurrentIResult.testSuitesMap[1].name" template-url="/my-custom-template.html"
								 class="ng-isolate-scope col-xs-1 ">

							</div>

							<div angucomplete-alt="" id="testCaseInputField" placeholder="Test Case Name" pause="100"
								 selected-object="tmpTestCaseFunc" local-data="mvcTempData.allTestCaseNames" search-fields="name"
								 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
								 match-class="highlight" initial-value="mvcCurrentIResult.testCaseName" template-url="/my-custom-template.html"
								 class="ng-isolate-scope col-xs-1 ">

							</div>

							<!--<select ng-model="mvcCurrentIResult.testCaseName" ng-change="testCaseNameSwitcher(mvcCurrentIResult.testCaseName, '{{mvcCurrentIResult.testCaseName}}')">
								<option value="QuickApply">ApplyJob</option>
								<option value="RegisterLogin">Registration</option>
							</select>-->

								<div angucomplete-alt="" id="ex14" placeholder="Screen Name" pause="100"
									 selected-object="tmpScreenName" local-data="mvcTempData.screenNames" search-fields="name"
									 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
									 match-class="highlight" initial-value="mvcCurrentIResult.screenNode.name" template-url="/my-custom-template.html"
									 class="ng-isolate-scope col-xs-1">

								</div>
							<div ng-if="mvcIResults.indexOf(mvcCurrentIResult) > 0" class="ng-isolate-scope col-xs-2">
								<div class="ng-isolate-scope col-xs-3"><label for="preScreenNode">Previous Screen:</label></div>
							<div class="ng-isolate-scope col-xs-9">
								<input id="preScreenNode" ng-model="mvcIResults[mvcIResults.indexOf(mvcCurrentIResult)-1].screenNode.name" disabled type="text" size="30"/>
							<!--<input id="preScreenNode" ng-if="mvcIResults.indexOf(mvcCurrentIResult) <= 0" disabled type="text" size="30" class="ng-isolate-scope col-xs-1"/>-->
							</div>
								</div>


							<div class="ng-isolate-scope col-xs-1" style="margin-top:5px">
								<div class="ng-isolate-scope col-xs-9"><label for="expectedScreen">isExpectedScreen:</label></div>
								<div class="ng-isolate-scope col-xs-3">
								<input id="expectedScreen" type="checkbox" ng-model="mvcCurrentIResult.screenNode.expectedScreen" /></div>
								</div>
								<div class="ng-isolate-scope col-xs-1" style="margin-top:5px">
									<div class="ng-isolate-scope col-xs-9">
										<label for="forceCreateNewScreen">forceNewScreen:</label>
									</div>
									<div class="ng-isolate-scope col-xs-3">
										<input id="forceCreateNewScreen" type="checkbox" ng-model="mvcCurrentIResult.forceCreateNewScreen"/>
									</div>
								</div>

								<div class="ng-isolate-scope col-xs-1">
							<button type="button" class="btn btn-default responsive-width" ng-click="openModalOfScreenTrainingWords()">screenTrainingWords</button>
								</div>


							<div class="ng-isolate-scope col-xs-2"  style="margin-top:5px" ng-if="mvcCurrentIResult.screenNode.screenPredictStrategy">
							<select
									ng-options="value as value for (value, key) in mvcTempData.predictedScreenNames " ng-change="screenPredictStrategySwitcher()" ng-model="mvcCurrentIResult.screenNode.screenPredictStrategy">
							</select>
								</div>

								<div class="ng-isolate-scope col-xs-1" ng-if="mvcIResults.indexOf(mvcCurrentIResult) > 0 && mvcIResults[mvcIResults.indexOf(mvcCurrentIResult)-1].screenNode" style="margin-top:5px">
									<div class="ng-isolate-scope col-xs-9">
										<label for="previousScreenTrigger">pre-screen-trigger:</label>
									</div>
							<select id="previousScreenTrigger" ng-model="mvcCurrentIResult.screenTriggeredByPreviousScreenUitrId"
									ng-options="item.graphId as item.inputLabelName for item in mvcIResults[mvcIResults.indexOf(mvcCurrentIResult)-1].screenNode.actionUitrs.concat(mvcIResults[mvcIResults.indexOf(mvcCurrentIResult)-1].screenNode.clickUitrs) |filter:{belongToCurrentTestCase:true} | filter:{ actionTrigger: true } track by item.graphId "
									ng-change="screenTriggeredByUitrIdChange($scope.mvcCurrentIResult.screenNode.graphId,'{{mvcCurrentIResult.screenTriggeredByPreviousScreenUitrId}}')">
								<option value=0>Screen Trigger</option>
							</select>
								</div>

							<!--	<select ng-model="screenType" ng-change="screenTypeSwitcher()">
                                    <option value="HTML">HTML Screen</option>
                                    <option value="WINDOWFILEPICKER">FILE Dialog</option>
                                </select> -->

							<!--PagePredictionConfidence<input ng-model="pagePredictionConfidence" type="text" maxlength="30" disabled/>-->
							<!--Page Name<input ng-model="pageName" type="text" maxlength="20"/>-->


						</div>
							<div class=row">


							</div>
							</div>
						<div class="panel-body">
							<div id="htmlScreenCommandBlock" ng-show="mvcCurrentIResult.screenNode.screenType == 'HTML'">
							<table width="95%"><tr><td>
							<a style="cursor:pointer" ng-click='homeAction()' >Reload page</a></td>
								<td>

								<button class="btn btn-sm btn-success" ng-disabled="!mvcUIOperationStatus.newScreenModelCreated" ng-click="injectProcessor()">1: Inject-></button>
									</td>
								<td>
								<button class="btn btn-sm btn-success" ng-disabled="!mvcUIOperationStatus.newScreenModelCreated" ng-click="preprocessing()">2: Preproc-></button>
								</td>
								<td>
								<!--<button class="btn btn-sm btn-success" ng-click="predict()">3: PrePred-></button>-->
								<button class="btn btn-sm btn-success" ng-click="addWebElement()">4: ManualAddElement-></button>
								</td>
								<td>
								<!--<button class="btn btn-sm btn-success" ng-click="trainIntoPIO()">PioImport</button>-->
								<button class="btn btn-sm btn-success" ng-disabled="!mvcUIOperationStatus.newScreenModelCreated" ng-click="pioPredict()">5: PioPredict-></button>
								</td>
								<td>
								<label class="lbl lbl-sm lbl-success" >6: Adjust Predict Results-></label>
								</td>
								<td>
								<label class="lbl lbl-sm lbl-success" >7: Fill out user values-></label>
								</td>
								<td>
								<button class="btn btn-sm btn-success" ng-disabled="!mvcUIOperationStatus.pageNotSavedYet" ng-click="saveIntermediateResult(false)">8: Save Result</button>
								</td>
								<td>
								<button class="btn btn-sm btn-success" ng-disabled="mvcUIOperationStatus.pageNotSavedYet" ng-click="autoAddTriggeredElements()">8: Add Triggered Elements</button>
								</td>
								<td>
								<button class="btn btn-sm btn-success" ng-disabled="mvcUIOperationStatus.pageNotSavedYet" ng-click="saveIntermediateResult(true)">9: update </button>
								</td>
								<td>
							<button class="btn btn-sm btn-success" ng-click="startNewRootScreenNode()">10: start New Home</button>
								</td>
								<td>
								<button class="btn btn-sm btn-success" ng-disabled="mvcIResults.indexOf(mvcCurrentIResult)==0" ng-click="loadPreviousScreen()">previousScreen </button>
								</td>
								<td>
							 <button class="btn btn-sm btn-success" ng-click="loadCurrentScreen()">nextScreen </button>
								</td>
								<td>
								<button class="btn btn-sm btn-success" ng-click="removeAllUitrs()">removeAllUitrs </button>
								</td>
								<td>
									<input type="text" size="10" ng-model="mvcTempData.loadScreenGraphId"/>
									</td><td>
									<button class="btn btn-sm btn-success" ng-click="loadScreen()">loadScreen </button>

								</td></tr>
								<tr><td></td><td></td><td></td><td></td><td></td><td>
								<button ng-disabled="mvcTempData.uitrPagingVars.currentPage == 0" ng-click="clickPreviousUitrPage()">
									Previous
								</button><span>
    {{mvcTempData.uitrPagingVars.currentPage+1}}/{{mvcTempData.uitrPagingVars.numberOfPages}} </span>
    <button ng-disabled="mvcTempData.uitrPagingVars.currentPage >= mvcTempData.uitrPagingVars.numberOfPages - 1" ng-click="clickNextUitrPage()">
		Next
	</button>
								</td><td>total {{mvcTempData.uitrPagingVars.totalUitrsCount}}</td><td colspan="5">unPredicted-{{mvcTempData.allUitrsRefs["unPredicted"].length}};
									ElementChanger-{{mvcTempData.allUitrsRefs["SCREENCHANGEUITR"].length}}; ScreenJumper-{{mvcTempData.allUitrsRefs["SCREENJUMPER"].length}}; UserInputs-{{mvcTempData.allUitrsRefs["USERINPUT"].length}};
									InScreenJumper-{{mvcTempData.allUitrsRefs["INSCREENJUMPER"].length}}</td>
								</tr>
</table>
							</div>
							<span id="windowFilePickerCommandBlock" ng-show="screenType == 'WINDOWFILEPICKER'">
								<label class="lbl lbl-sm lbl-success" >Note: These elements are previous screen's InScreenJumper, and a default ScreenJumper for this file picker dialog. Delete the one(s) not triggering this file picker.-></label>
								<button class="btn btn-sm btn-success" ng-disabled="!pageNotSavedYet" ng-click="saveIntermediateResultForWindowsFilePicker(false)">8: Save Result</button>
								<button class="btn btn-sm btn-success" ng-disabled="pageNotSavedYet" ng-click="saveIntermediateResultForWindowsFilePicker(true)">9: Update </button>
							</span>



							<table class="table table-striped" border="1">

								<tbody>
								<tr ng-repeat="(ikey, uitrs) in mvcTempData.allUitrsRefsPagingView">
									<td>
								<table ng-if="uitrs.length>0">
									<caption style="text-align:center; color:red; font-size:15px" >{{ikey}} uitrs</caption>
									<thead>
									<tr><th/><!--<th>NPLPredictField</th><th class="col-sm-3">--</th>-->
										<th>UserInputType</th>
										<th>Triggered By</th>
										<th>ActTrigger</th>
										<th>ForThisTestStep</th>
										<!--<th>ActionPredictResult</th><th>ActionConfidence</th>-->
										<!--<th>PioImportId</th>-->

										<th>PioConfidence</th>
										<th>ScreenInputVal</th>

										<th>PioPredField</th>

										<th>Element Snapshot</th>
										<th>Html</th>
										<th></th>
									</tr>
									</thead>
									<tbody>

								<tr ng-repeat="fruit in uitrs track by $index">
									<td><input type="button" value="Remove" class="btn btn-sm" ng-click="removeRow($parent.ikey, fruit)"/></td>



									<td><select ng-change="userInputTypeChange(fruit, '{{fruit.userInputType}}')" ng-model="fruit.userInputType">
										<option value="SCREENJUMPER">SCREEN JUMPER</option>
										<option value="USERINPUT">USER INPUT</option>
										<option value="INSCREENJUMPER">IN SCREEN JUMPER</option>
										<!-- add code to give proper value options 'previous screen/current screen' if user
										selected this option -->
										<option value="SCREENCHANGEUITR">SCREEN ELEMENT CHANGE TRIGGER</option>
										</select>
									</td>
									<td><select ng-disabled="$parent.$parent.mvcUIOperationStatus.pageNotSavedYet" id="triggeredBy-{{$parent.ikey}}-{{$index}}" ng-change="nodeTriggeredByChange(fruit, '{{fruit.triggeredBy.graphId}}')"
												ng-options="item as item.pioPredictLabelResult.value for item in $parent.$parent.mvcTempData.allUitrsRefs['SCREENCHANGEUITR'] |filter:{belongToCurrentTestCase:true} | filter:{ userInputType : 'SCREENCHANGEUITR' } track by item.graphId " ng-model="fruit.triggeredBy">
										<option value="">Select Trigger</option>
									</select></td>
									<td><input type="checkbox" ng-model="fruit.actionTrigger"/></td>
									<td><input type="checkbox" ng-model="fruit.belongToCurrentTestCase" ng-change="checkForDeletionCall(fruit, $parent.$parent.mvcCurrentIResult.testCaseName)"/></td>
									<!--<td><input type="text" size="10" ng-model="fruit.actionTrainedWeight"/></td>
									<td><input type="text" size="10" ng-model="fruit.actionConfidence"/></td>-->
									<!--<td><input type="text" size="10" ng-model="fruit.trainedResult" disabled/></td>-->

									<td><input type="text" size="5" ng-model="fruit.pioPredictConfidence"/></td>
									<td><div angucomplete-alt="" id="userInuptValue-{{$parent.ikey}}-{{$index}}" placeholder="Input Value" pause="100"
											 selected-object="$parent.$parent.tmpUserValue" selected-object-data="" local-data="$parent.$parent.mvcTempData.allUserValues" search-fields="name"
											 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
											 match-class="highlight" initial-value="fruit.userValues[0].value" template-url="/my-custom-template-value.html"
											 class="ng-isolate-scope ">
									</div></td>


									<td><div angucomplete-alt="" id="pioPredictLabelResult-{{$parent.ikey}}-{{$index}}" placeholder="Input Field" pause="100"
											 selected-object="$parent.$parent.$parent.tmpPioPredictLabelResult" local-data="$parent.$parent.$parent.mvcTempData.allFieldNames" search-fields="name"
											 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
											 match-class="highlight" initial-value="fruit.pioPredictLabelResult.value" template-url="/my-custom-template_field.html"
											 class="ng-isolate-scope ">
									</div></td>
									<td class="col-md-1"><div ng-style="popupStyle[$parent.ikey][$index]" ng-mouseover="showPopover($parent.ikey, $index)" ng-mouseleave="hidePopover($parent.ikey, $index)">
										<my-html compilex="removeStyleInInputMLHtmlCode(fruit.inputMLHtmlCode)"></my-html></div></td>
										<!--</tr>
										<tr>-->
									<td ><textarea rows="1" cols="40" style="overflow:hidden" ng-change="changeInputMLHtmlCodeFlag($parent.ikey, $index)" ng-model="fruit.inputMLHtmlCode"/></td>
									<td><input type="hidden" size="55" ng-model="fruit.inputLabelName"/></td>
							<!--			</tr>
									</table>-->
								</tr>
									</tbody>
								</table>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>



		</div>

	</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>end</div>
</div>


