<mat-accordion [@listStaggeredInOut]="tvShows.length">
  <mat-expansion-panel *ngFor="let tvShow of tvShows" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{tvShow.name}}
      </mat-panel-title>
      <mat-panel-description>
        <div class="tvshow-description">
          <span class="badge number pull-right">{{tvShow.episodes.length}}</span>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-episode-list [episodes]="tvShow.episodes"></app-episode-list>
  </mat-expansion-panel>
</mat-accordion>