<mat-nav-list dense [@listStaggeredInOut]="episodes.length">
  <!-- use ng-template with ngFor if you want to include a divider -->
      <div app-episode *ngFor="let episode of episodes.slice(0, 5)"
           [episode]="episode" (episodeChecked)="onEpisodeChecked(episode)"></div>
</mat-nav-list>