<div [class.dark-theme]="isDarkTheme">
  <mat-sidenav-container>

    <mat-sidenav #sidenav class="sidenav">
      <button (click)="switchLanguage('en')">en</button>
      <button (click)="switchLanguage('fr')">fr</button>
      <button (click)="changeTheme()">{{ 'change_theme' | translate }}</button>
    </mat-sidenav>

    <mat-sidenav-content id="sidenav-content">

      <button mat-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <div id="content">
        <app-unseen-episodes></app-unseen-episodes>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
