@import '~@angular/material/theming';

@include mat-core();

.dark-theme {
  // Dark theme
  $app-dark-primary: mat-palette($mat-indigo);
  $app-dark-accent: mat-palette($mat-pink);
  $app-dark-warn: mat-palette($mat-red);
  $app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);

  @include angular-material-theme($app-dark-theme);
}