/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
	margin: 0;
	padding: 0;
  width: 300px;
  max-height: 500px;
  min-height: 250px;
}

.pull-right {
	float: right;
}

span.badge {
  min-width: 2rem;
  padding: 0 6px;
  margin-left: 14px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  color: #757575;
  box-sizing: border-box;
}

span.badge.number {
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: #3f51b5;
	border-radius: 2px;
}