<!--
  ~ Copyright (c) 2016 Haulmont
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="main-container">
    <h1>Burgers</h1>
    <table width="100%">
        <tr>
            <td valign="top">
                <div class="table-border">
                    <table class="shop-list" border="1">
                        <tr>
                            <th>Name</th>
                            <th width="100px">Size (gr)</th>
                            <th width="100px">Price</th>
                            <th width="120px" ng-if="authenticated">Order</th>
                        </tr>
                        <tr ng-repeat="item in screenNames">
                            <td>{{ item }}</td>
                            
                        </tr>
                    </table>
                </div>
            </td>
            <td width="250px" ng-if="$root.authenticated" valign="top">
                <div class="cart" ng-if="$root.authenticated">
                    <div class="cart-header">Cart</div>
                    <div class="table-border">
                        <table class="shop-list">
                            <tr>
                                <td>Burger</td>
                                <td>Count</td>
                                <td class="price-col">Price</td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="item in screenNames">
                                <td>{{ item }}</td>
                                
                            </tr>
                            
                        </table>
                        
                    </div>
                    
                </div>
            </td>
        </tr>
    </table>
</div>
